html{
    font-size: 16px;
    font-family:Trebuchet MS;
    letter-spacing: 1px;
}


.container-header{
    width: 100%;
}

.header{
    padding: 15px;
    padding-left: 60px;
    padding-right:60px;
    display: flex;
}

.header-left{
    width: 60%;
    position: relative;
    top:10px;
   
}

.header-a{
    padding: 20px;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

.header-submit{
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
}

.First-article{
    display: flex;
    margin: auto;
}

.First-article-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left:40px;
    background:#ECE7E4;
    padding-top: 100px;
}

.wishbone__partners{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 0.9rem;
}

.First-article_h1{
    font-size: 2.5rem;
    line-height: 40px;
    margin: 0;
    font-weight: 100;
    width: 25%;
    letter-spacing: 2px;
}

.First-article_p{
    margin: 0;
    width: 40%;
    line-height: 22px;
}

.Read-more{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    padding-left: 30px;
    width:fit-content;
}

.img_Street{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Second-article{
    display: flex;
    padding: 150px;
}

.Second-article-left{
    width: 60%;
}

.Second-article-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Second-article-h3{
    font-weight: 100;
    font-size: 1.7rem;
}

.Second-article-p{
    width: 50%;
    line-height: 20px;
}

.Second-article-right-img{
    display: flex;
}

.img_Circle{
    width: 5%;
    padding-right: 20px;
}

.Stephen-Collier-Senior-Partner-p{
    align-self: center;
}

.Third-article{
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.Third-article-img{
    width: 100%;
}

.Third-article-img-p{
    position: absolute;
}

.Reeding_House{
    text-transform:uppercase;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.Under-Reeding{
    letter-spacing: 0.5px;
    width: 80%;
}

.Fourth-article{
    padding: 50px;
}

.Fourth-article-top{
    text-align: center;
    padding: 30px;
}

.Fourth-article-top-p{
    text-transform: uppercase;
}

.Fourth-article-top-h2{
    font-size: 2rem;
    letter-spacing: 0.5px;
    padding: 20px;
}

.Fourth-article-main-content{
    display: flex;
}

.Fourth-article-main-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 20px;
    height: 100%;
}

.Fourth-article-main-content-div img{
    width: 15%;
    height: 100%;
}

.Fourth-article-main-content-h5{
    font-weight: 600;
}

.Fourth-article-main-content-p{
    width: 46%;
    text-align: center;
    line-height: 24px;
}

.Five-article{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Five-arcticle-img{
    width: 100%;
    height: 100%;
}

.Five-article-img-p{
    position: absolute;
}

.Sixth-article{
    background-color:#403E3B;
    color: #ffffff;
    letter-spacing: 1.5px;
    display: flex;
}

.Sixth-article-left{
    padding: 100px;
    width: 80%;
    display: block;
}

.Sixth-article-left-top{
    padding-bottom: 30px;
}

.Sixth-article-left-top-h4{
    font-size: 2rem;
    font-weight: 100;
    line-height: 40px;
}

.Sixth-article-left-top-p{
    text-transform: uppercase;
    font-size: 1rem;
}

.Sixth-article-left-down-p{
    width: 50%;
}

.Sixth-article-right{
    gap: 130px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px;
}

.Seventh-article{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.Seventh-article-img{
    width: 100%;
}

.Seventh-article-img-p{
    position: absolute;
    padding: 40px;
}

.Seventh-article-top-p{
    text-transform: uppercase;
}

.Seventh-article-down-p{
    padding-top: 15px;
    width: 70%;
}

.Earth-article{
    background-color:#F7F7F7;
    padding: 100px;
}


.Earth-article-top-h3{
    font-size: 2rem;
    padding-bottom: 20px;
}

.Earth-article-top-p{
    font-size: 1.3rem;
    padding-bottom: 30px;
    width: 30%;
}


/*position: absolute;
    align-self: flex-end;
    margin: 30px;
    text-decoration: none;
    color: #ffffff;
    border: 1px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    font-size: 1rem;*/

.Nine-article{
    padding: 80px;
    display: flex;
}

.Nine-article-left{
    width: 60%;
}

.Nine-article-left-h3{
    font-size: 2rem;
    font-weight: lighter;
}

.Nine-article-left-p{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}

.Nine-article-left-a{
    padding-left: 25px;
    text-decoration: none;
    color: #1B1A1A;
    font-weight:bold;
}

.Nine-article-right{
    display: flex;
    gap: 130px;
}

.Nine-article-center-Worker{
    display: flex;
    gap: 20px;
}

.Nine-article-Worker-p{
    align-self: center;
}

.Nine-article-Worker-p-top{
    font-size: 1.4rem;
}

.Nine-article-center-Worker-div{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.Nine-article-right-Worker-div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Nine-article-right-Worker{
    display: flex;
    gap: 20px;
}

.Ten-article{
    background-color:#CEC4BC;
    display: flex;
    padding: 80px;
}

.Ten-article-left{
    width: 90%;
}

.Ten-article-left-p{
    text-transform: uppercase;
}

.Ten-article-left-h2{
    font-size: 2.2rem;
    font-weight: 100;
    width: 40%;
}

.Ten-article-right{
    align-self: center;
}

.Ten-article-right-a{
    text-decoration: none;
    color: #1B1A1A;
}

.Eleven-article{
    padding: 80px;
    display: flex;
}

.Eleven-article-left{
    width: 90%;
}

.Eleven-article-left-p{
    padding-top:10px;
}

.Eleven-article-right{
    align-self: flex-end;
}

.Eleven-article-right img{
    padding: 10px;
    padding-bottom: 0px;
}

