body{
    font-size: 25px;
    font-family:'Geometria',Arial,sans-serif;
    line-height: 1.15;
    margin: 0;
    background: linear-gradient(rgba(255,255,255) 0%, #00439f 100%);
}

.title__section{
  text-align: center;
  color: #00439c;
  margin: 0;
  padding: 6rem 0;
}

.header__content{
    display: flex;
    justify-content: space-around;
    gap:7rem;
    background: #00439c;
    color: #ffffff;
}

.header__content > div{
    align-self: center;
    display: flex;
}

.header__leftside{
    flex-direction: column;
    padding: 1rem;
}

.header__title{
    margin: 0;
    padding-top: 1rem;
}

.header__nav{
    display: flex;
    padding-inline-start: 0;
    gap: 3rem;
}

.avatar{
    width: 100%;
    max-width: 250px;
}

.header__leftside >.header__title{
    align-self: center;
    max-width:100%;
    text-align: center;
    color: #ffffff;
}

.a{
    font-size: 1.5rem;
    align-self: center;
    text-decoration: none;
    color: #ffffff;
}

.header__imgs{
    width: 3rem;
}

.header__phone{
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
}

.header__phone:focus{
    color: #ffffff;
}

.signup__container{
    max-width: 100%;
    margin: 0 auto;
}

.signup__p{
    text-align: center;
}

.signup__p_font_size{
    font-size: 2rem;
}

.signup__title{
    padding-bottom: 1rem;
}

.signup__content{
    display: flex;
    padding: 3rem 0;
    justify-content: space-around;
}

.signup__content1{
    text-align: center;
}

.signup__p_color{
    color: #00439c;
}

.signup__img__content{
    max-width:35rem; 
}

.signup__a{
    box-sizing: border-box;
    border: 2px solid #808080;
    padding: 20px;
    background: #00439c;
    border-radius: 10px;
    max-width: 70%;
    margin: auto;
}

.signup__a:hover{
    color: #ffffff;
}

.price__p{
    width: 100%;
}

.price__p_font_weight{
    font-weight: 700;
}

.price__container{
    width: 90%;
    margin: auto;
}

.price__content{
    display: flex;
    border-bottom: 3px solid #000000;
    padding: 0 4rem;
}

.price__p_aligh_center{
    text-align: center;
}

.price__p_aligh_right{
    text-align: right;
}

.iron__container{
    padding: 4rem;
}

.iron__names_font_weight{
    font-weight: 700;
}

.iron__title{
    padding-top: 2rem;
}

.iron__content{
    display: flex;
}

.iron__block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 500px;
}

.iron__img{
    width: 40%;
    max-height: auto;
}

.iron__names{
    line-height: 1.5;
}

.contacts__container1{
    padding: 4rem 0 8rem 0;
}

.contacts__container2{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.contacts__content > .contacts__title_padding{
  padding-bottom: 3rem;
  margin: 0 auto;
}

.contacts__content > .contacts__title_width{
  width: 25rem;
}

.contacts__h2{
    padding: 0 0 4rem 0;
}

.footer__content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background: #eff3f8;
}

.footer__content > .footer__p{
  color: #000000;
  width: 20rem;
}

.footer__content__left{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title__section_footer_padding{
    padding: 0;
    line-height: 2; 
}
